@import './resets';
@import './variables';
@import './typography';
@import './modal';


body {
  background: $lighter;
}

section {
  margin-bottom: 2rem;
}

h1, h2 {
  color: $mid;
  margin-bottom: 1rem;
}

p {
  color: $dark;
  margin-bottom: 1rem;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 1rem;
}

.intro {
  margin-bottom: 2rem;
  border-bottom: 2px solid $mid;
  p {
    font-size: 1.1rem;
    font-style: italic;
  }
}

.content {
  columns: 300px 2;
}

.row {
  display: flex;
}

.title {
  align-items: flex-start;

  img {
    max-width: 30px;
    margin-left: 1rem;
  }
}

.larger {
  font-weight: 700;
  font-size: 1.1rem;
  text-decoration: underline;
}

.example {
  display: none;
}

